name: 'MangoDB'
enabled: true
deviceType: 'forwarder:mongodb'
createUrl: 'https://data-forwarder-mongodb.octoblu.dev/devices'
configurationUrl: 'https://data-forwarder-mongodb.octoblu.dev/schemas/v1/configure.json'
