name: 'MongoDB'
enabled: true
deviceType: 'forwarder:mongodb'
createUrl: 'http://data-forwarder-mongodb.octoblu.dev/devices'
configurationUrl: 'http://data-forwarder-mongodb.octoblu.dev/schemas/v1/configure.json'
