name: 'Microsoft Azure Service Bus'
uuid: '1a12cb93-1bbc-4dfc-9efa-4801f7b35508'
enabled: true
deviceType: 'forwarder:msazure'
createUrl: 'https://data-forwarder-azure-service-bus.octoblu.dev/devices'
configurationUrl: 'https://data-forwarder-azure-service-bus.octoblu.dev/schemas/v1/configure.json'
