name: 'MongoDB Forwarder'
forwarderTypeId: 'mongodb-forwarder'
logoUrl: 'https://s3-us-west-2.amazonaws.com/octoblu-icons/channel/mongodb.svg'
deviceType: 'forwarder:mongodb'
description: ''
connector: 'meshblu-mongodb-fowarder'
schemas:
  version: '2.0.0'
  configure:
    type: 'object'
    properties:
      exampleOption:
        title: 'example'
        type: 'string'
        required: true
