name: 'Splunk Event Collector'
forwarderId: 'splunk-event-collector'
logoUrl: 'https://s3-us-west-2.amazonaws.com/octoblu-icons/channel/splunk.svg'
deviceType: 'forwarder:splunk'
description: ''
connector: 'meshblu-splunk-event-collector'
schemas:
  version: '2.0.0'
  configure:
    type: 'object'
    properties:
      EventCollectorToken:
        title: 'Event Collector Token'
        type: 'string'
        required: true
      SplunkEventUrl: 
        title: 'Splunk Event URL'
        type: 'string'
        required: true
